<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">NUSClubs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar collapse navbar-collapse" id="navLinks">
            <div class="navbar-nav">
                <a href="/news" class="nav-link">NEWS</a>
                <a href="/cca" class="nav-link">CCA LIST</a>
                <a href="" class="nav-link">TIMETABLE</a>
            </div>
            <div class="navbar-nav ml-auto d-flex">
                <% if (!currentUser) { %>
                <a href="/login" class="nav-link">LOGIN</a>
                <a href="/register" class="nav-link">REGISTER</a>
                <% } else { %>
                <a href="/logout" class="nav-link">LOGOUT</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>