<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">NUSClubs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">NEWS</a>
                </li>
                <li class="nav-item">
                    <a href="index.html" class="nav-link">CCA LIST</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">TIMETABLE</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">PROFILE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>