<% layout('layouts/boilerplate') %>
<div class="container-sm justify-content-center align-items-center mt-5">
    <h1>Register User</h1>
    <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-3 row">
            <div class="col">
                <label for="username" class="form-label">Full Name: </label>
                <input type="text" name="username" id="username" required class="form-control">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col">
                <label for="email" class="form-label">Email: </label>
                <input type="email" name="email" id="email" required class="form-control">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-5">
                <label for="faculty" class="form-label">Faculty: </label>
                <input type="text" name="faculty" id="faculty" required class="form-control">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-5">
                <label for="course" class="form-label">Course of Study: </label>
                <input type="text" name="course" id="course" required class="form-control">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-2">
                <label for="year" class="form-label">Year: </label>
                <select name="year" id="year" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input type="password" name="password" id="password" required class="form-control">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Register</button>
    </form>
</div>