.svg-icon {
    width: 1em;
    height: 1em;
    margin-top: 0.5em;
}
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: white;
}

.svg-icon circle {
stroke: white;
stroke-width: 1;
}

body {
    background: #121212;
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-weight:300
}

.cca-container {
    margin-top: 2rem;
    border-bottom:1px solid rgb(87, 86, 86);
    padding-bottom: 1rem;
}

.link-unstyled {
    text-decoration: none;
    color: #cf6679;
}

.link-unstyled:hover {
    color: #d82345;
}

h1 {
    margin-top: 3rem;
    color: #cf6679;
    border-bottom:1px solid rgb(87, 86, 86);
    padding-bottom: 1rem;
}

.btn-outline-primary {
    color: #6200EE;
    border-color: #6200EE;
}

.btn-outline-primary:hover {
    background-color: #6200EE;
}

.btn-outline-secondary {
    color: #03DAC6;
    border-color: #03DAC6;
}

.btn-outline-secondary:hover {
    background-color: #03DAC6;
}

.btn-outline-warning {
    color: rgb(255, 228, 72);
    border-color: rgb(255, 228, 72);
}

.btn-outline-warning:hover {
    background-color: rgb(255, 228, 72);
}

.btn-outline-danger {
    color: #cf6679;
    border-color: #cf6679;
}

.btn-outline-danger:hover {
    background-color: #cf6679;
}

.description {
    margin-top: 1rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.navbar.scrolled {
    background: #121212;
}

h3 {
    font-size: 100%;
}

a {
    color: #cf6679;
}

a:hover {
    color: #d82345;
}

form .form-control {
    background: transparent;
    color: white;
}

form .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
  background: transparent;
  color: white;
}

.card-body a {
    text-decoration: none;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar form {
    padding: 8px 8px 8px 32px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}