<% layout('layouts/boilerplate') %>
<h1>CCA Index Page</h1>
<div>
    <ul>
        <% for (let cca of ccas) { %>
        <li><a href="/cca/<%= cca._id %> "><%= cca.title %></a></li>
        <% } %>
    </ul>
</div>
<a href="/cca/new">Register New CCA</a>