<% layout('layouts/boilerplate') %>
<div class="container-sm justify-content-center align-items-center mt-5">
    <h1>Register Your CCA!</h1>
    <form action="/cca" method="POST" class="validated-form" novalidate autocomplete="off">
        <div class="mb-3">
            <label for="title" class="form-label">CCA Title:</label>
            <input type="text" name="title" id="title" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Short Description:</label>
            <textarea name="description" id="description" cols="30" rows="5" required class="form-control"></textarea>
        </div>
        <h2>Contact Information</h2>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number:</label>
            <input type="text" name="phone" id="phone" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" name="email" id="email" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="officer" class="form-label">Person-in-Charge (Please enter as per your full name):</label>
            <input type="text" name="officer" id="officer" required class="form-control">
        </div>
        <button class="btn btn-success">Register</button>
        <a href="/cca" class="btn btn-info">Back to CCA List</a>
    </form>
</div>